@import './variables.scss';
.favoris {
    color: $white;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 100px;
    row-gap: 20px;
    .favorisMovie{
        .movie {
            width: 100%;
        }
    }
    .favorisSeries{
        .movie {
            width: 100%;
        }
    }
}