@import './variables.scss';
.home {
    display: grid;
    grid-template-rows: 30% 14% 14% 14% 14% 14%;
  }
  .home-header {
    position: relative;
    text-align:center;
    img {
      width: 100%;
    }
    h1, p {
      color: $white;
      position: absolute;
      width: 30%;
      background-color: transparent;
      font-family: cursive;
    }
    .header-description {
      top: 30%;
      left: 5%;
      font-size: 1.5em;
    }
    h1 {
      top: 10%;
      left: 5%;
      font-size: 4em;
    }
    .header-cast {
      top: 20%;
      left: 60%;
      font-size: 2em;
      font-weight: 600;
      li {
        list-style-type:none;
        background-color: transparent;
        padding: 10px;
        font-size: 0.8em;
      }
    }
  }