@import './variables.scss';
.home {
    display: grid;
    grid-gap: 8rem;
    grid-template-rows: 30% 14% 14% 14% 14% 14%;

  .header {
    color: $white;
    height: 100%;
    .header-container {
      padding: 9rem;
      display: flex;
      gap: 11rem;
      flex-direction: row-reverse;
      align-items: flex-start;

      .header-text {
        width: 50%;
        padding: 6rem 4rem;
        font-size: 1.5rem;

       div {
         width: 100%;
          overflow: hidden;
            text-overflow: ellipsis;
         white-space: break-spaces;

         p {
           font-size: 1.5rem;
           margin-top: 1rem;
         }

       }
      }

      .header-image {
        width: 50%;

        padding-top: 8rem;

        img {
         max-width: 65%;
          object-fit: cover;
        }

      }
    }
  }
}