@import './variables.scss';
.navbar {
    display: flex;
    height: 68px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: $white;
    padding: 10px 20px 10px 20px;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    width: 100%;
    opacity: 0.8;
    .logo {
      color: $purple;
      cursor: pointer;
      font-size: 3.8em;
      margin-right: 5px;
      text-decoration: none;

    }
  .links {
    display: flex;
    gap: 4rem;

      .navlink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: $white;
        height: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $purple;
          transform: scale(1.1);
        }
      }

      .account {
        display: flex;
        justify-content: center;
        height: 0.8rem;
        font-size: 50%;
        color: $white;
        padding-right: 50px;
      }
    }
  }