@import './variables.scss';

* {
  background-color: $black;
}



.navbar {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-content: center;
  color: $white;
  padding: 10px 20px 10px 20px;
  .logo {
    display: flex;
    align-items: center;
    color: $purple;
    cursor: pointer;
    font-size: 1.8em;
    margin-right: 5px;
    text-decoration: none;
    color: $purple;
  }
  .navlink {
    display: flex;
    align-items: center;
    color: $white;
    height: 100%;
    font-size: 1.2rem;
  }
  
  .account {
    display: flex;
    justify-content: center;
    height: 1.8rem;
    color: $white;
  }
}



.movie-container{
  color: $white;
  opacity: 0.7;
  h2 {
    color: $white;
  }
  .movie {
    display: inline-block;
    padding: 5px;
    position: relative;
    text-align: center;
    .movie-img {
      height: 150px;
      width: 300px;
      opacity: initial;
    }
    .movie-description-short {
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
        h3, p {
          background-color: transparent;
          color: $white;
        }
    }
  }
}

.home {
  display: grid;
  grid-template-rows: 30% 10% 10% 10% 10% 10% 10% 10%;
}
.home-header {
  position: relative;
  text-align:center;
  img {
    width: 100%;
  }
  h1, p {
    color: $white;
    position: absolute;
    width: 30%;
    background-color: transparent;
    font-family: cursive;
  }
  .header-description {
    top: 30%;
    left: 5%;
    font-size: 1.5em;
  }
  h1 {
    top: 10%;
    left: 5%;
    font-size: 4em;
  }
  .header-cast {
    top: 20%;
    left: 60%;
    font-size: 2em;
    font-weight: 600;
    li {
      list-style-type:none;
      background-color: transparent;
      padding: 10px;
      font-size: 0.8em;
    }
  }
}


